<form method="post" enctype="multipart/form-data" action="/storemanager/upload">
    <div>
        <p>Upload one or more CHILI packages using this form:</p>
        <input type="file" name="files" />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

