<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CHILI Demo</title>
</head>
<body>
    @RenderBody()
    <script src="~/scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
</body>
</html>
